*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.nunitofont {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: '200-1000';
    font-style: normal;
  }
html, body{ height:100%; font-family: "Nunito", sans-serif;}
.homepage-container{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    height:100vh;
    background: color #e1ebe4;
}
.logo-container img{
    max-width: 300px;
    height:auto;
    margin-top: 10%;
}
.top-nav{
    position: absolute;
    top: 20px;
    right:20px;
    font-weight: bold;
    color: #aaafb2
}
.top-nav a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #a8738a
}
.footer{
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.9em;
}
@media (min-width :768px){
    .footer{display:block;}
}
@media (max-width: 767px){.footer{display:none;}}
.logo-container {
    transition: transform 1s ease;
}
body.clicked .logo-container {
    transform: translateY(-100%);
}