*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.nunitofont {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: '200-1000';
    font-style: normal;
  }
html, body{ height:100%; font-family: "Nunito", sans-serif;}
.homepage-container{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    height:100vh;
    background: color #e1ebe4;
}
.logo-container img{
    max-width: 300px;
    height:auto;
    margin-top: 10%;
}
